# TypeScript build output (emitted in-place from .ts files)
uuid.js
uuid.d.ts
big-decimal.js
big-decimal.d.ts
local-time.js
local-time.d.ts
tuple.js
tuple.d.ts
version-number.js
version-number.d.ts
cql-utils.js
cql-utils.d.ts
inet-address.js
inet-address.d.ts
duration.js
duration.d.ts
integer.js
integer.d.ts
local-date.js
local-date.d.ts
protocol-version.js
protocol-version.d.ts
result-set.js
result-set.d.ts
result-stream.js
result-stream.d.ts
results-wrapper.js
results-wrapper.d.ts
row.js
row.d.ts
time-uuid.js
time-uuid.d.ts
vector.js
vector.d.ts
index.js
index.d.ts
