name: Run Typescript tests
env:
  DEBUG: napi:*
"on":
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - '**'
jobs:
  build-and-run-tests:
    strategy:
      fail-fast: false
    name: Build and run typescript tests - node@20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/setup
        with:
          host: ubuntu-latest
          target: x86_64-unknown-linux-gnu
      - name: Build
        run: npm run build
        shell: bash
      - name: Install TypeScript 5
        run: npm install -g typescript@5
      - name: Compile TypeScript
        run: |
          pushd test/typescript/
          tsc -p .
          node -e "require('./api-generation-test').generate()" > generated.ts
          tsc generated.ts
        shell: bash
